node-red-dashboard.config
[{"id":"8ebeb5b5.efa8e8","type":"mqtt in","z":"34cd5870.1026d8","name":"Home","topic":"home/#","qos":"0","broker":"d5ae9175.31aab","x":169,"y":371,"wires":[["39eee3aa.c99ccc","f7b7df23.5a13b","b64ac9eb.06c688","4e83629e.0d0c3c"]]},{"id":"4e83629e.0d0c3c","type":"debug","z":"34cd5870.1026d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":214,"wires":[]},{"id":"b64ac9eb.06c688","type":"function","z":"34cd5870.1026d8","name":"Temperature formatter","func":"if (msg.topic === 'home/temperature') {\n    return Object.assign(msg, { payload: parseInt(msg.payload) + '°C' });\n}","outputs":1,"noerr":0,"x":529,"y":277,"wires":[["6ff6b7a9.7643d8","7a314d08.63ac64"]]},{"id":"6ff6b7a9.7643d8","type":"ui_text","z":"34cd5870.1026d8","group":"db26801c.7e417","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":856,"y":260,"wires":[]},{"id":"c36891a9.33248","type":"ui_text","z":"34cd5870.1026d8","group":"db26801c.7e417","order":2,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":841,"y":348,"wires":[]},{"id":"39eee3aa.c99ccc","type":"function","z":"34cd5870.1026d8","name":"Humidity formatter","func":"if (msg.topic === 'home/humidity') {\n    return Object.assign(msg, { payload: parseInt(msg.payload) + '%rh' });\n}","outputs":1,"noerr":0,"x":519,"y":344,"wires":[["f6d95c43.791f3","c36891a9.33248"]]},{"id":"f7b7df23.5a13b","type":"function","z":"34cd5870.1026d8","name":"Light formatter","func":"\nif (msg.topic === 'home/light') {\n    return Object.assign(msg, { payload: msg.payload + 'Lm' });\n}","outputs":1,"noerr":0,"x":512,"y":416,"wires":[["d0625c7b.f1cfd","111ba966.0e9b77"]]},{"id":"7a314d08.63ac64","type":"ui_chart","z":"34cd5870.1026d8","name":"","group":"2c42a6eb.b5c88a","order":6,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-50","ymax":"50","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":858,"y":216,"wires":[[],[]]},{"id":"111ba966.0e9b77","type":"ui_gauge","z":"34cd5870.1026d8","name":"","group":"db26801c.7e417","order":5,"width":0,"height":0,"gtype":"gage","title":"Darkness","label":"","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":430,"wires":[]},{"id":"f6d95c43.791f3","type":"ui_chart","z":"34cd5870.1026d8","name":"","group":"2c42a6eb.b5c88a","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":842,"y":307,"wires":[[],[]]},{"id":"d0625c7b.f1cfd","type":"ui_chart","z":"34cd5870.1026d8","name":"","group":"2c42a6eb.b5c88a","order":0,"width":0,"height":0,"label":"Darkness","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":841,"y":392,"wires":[[],[]]},{"id":"d5ae9175.31aab","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.191","port":"1883","clientid":"arduino-dashboard","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"db26801c.7e417","type":"ui_group","z":"","name":"Man Cave","tab":"11f96463.89abec","disp":true,"width":"6","collapse":false},{"id":"2c42a6eb.b5c88a","type":"ui_group","z":"","name":"Man Cave","tab":"4d3c2210.5b5a8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"11f96463.89abec","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"4d3c2210.5b5a8c","type":"ui_tab","z":"","name":"History","icon":"dashboard","order":2}]
